<section class="m-0 w-full bg-transparent">
    <div class="h-screen container mx-auto">

        <div class="flex flex-wrap">

            <div class="nuage1 w-full lg:w-4/12 flex flex-col justify-end">
                <div class="pt-96 h-full">
                    <img src="../../../img/nuage1.png" width="608" height="608" alt="illustration de nuage" class="w-full h-auto" />
                </div>
            </div>

            <div class="nuage2 w-full lg:w-6/12">
                <div>
                    <img src="../../../img/nuage2.png" width="925" height="925" alt="illustration de nuage" class="w-full h-auto" />
                </div>
            </div>

            <div class="nuage w-full lg:w-2/12 flex flex-col justify-end">
                <div>
                    <img src="../../../img/nuage3.png" width="292" height="292" alt="illustration de nuage" class="nuage w-full h-auto" />
                </div>
            </div>

        </div>

    </div>
</section>
<section class="transition m-0"></section>
