<div class="min-h-screen">
  <section class="fixed -z-50 bg-gray-100 min-h-screen fixed-background" (window:scroll)="onScroll($event)">
    <div class="container mx-auto  lg:px-28 py-8 h-full flex flex-col lg:flex-row items-center">
      <div class="w-full h-full lg:w-1/2 flex flex-col justify-center items-center lg:order-1 order-2">
        <div class="photo w-full h-full sm:px-8 px-2.5 md:px-4  lg:p-28">
          <img src="../../../img/fond-photo.png"  alt="" class="w-full h-auto object-cover">
        </div>
      </div>
      <div class="w-full lg:w-1/2 flex flex-col justify-center items-center lg:order-2 order-1">
        <div class="h-full px-2.5 md:px-4 flex flex-col justify-center items-center lg:items-start text-center lg:text-left">
          <span id="welcome-text" class="text-xl font-bold text-gray-800 welcome ps-10 transition-opacity opacity-0"><span *ngIf="languageService.getLanguage() === 'fr'">Salut ! je suis</span>
          <span *ngIf="languageService.getLanguage() === 'en'">Hi ! I'm</span></span>
          <h1 id="name" class="text-4xl lg:text-6xl font-bold text-gray-900 mt-4 transition-opacity opacity-0">
            <span><img width="600" src="../../../img/Amélie.gif" alt=""></span>
          </h1>
          <p id="description" class="text-lg text-gray-700 mt-4 transition-opacity opacity-0"><span *ngIf="languageService.getLanguage() === 'fr'">Je suis une développeuse fullstack en devenir, toujours très enthousiaste à l'idée d'apprendre de nouvelles technologies et de repousser mes limites. J'aime associer ma créativité et ma logique pour créer toutes les choses qui me passent par la tête.</span>
            <span *ngIf="languageService.getLanguage() === 'en'">I’m an aspiring full-stack developer who loves learning new technologies and taking on new challenges. I enjoy using both creativity and logic to build everything that comes to mind.</span></p>
        </div>
      </div>
    </div>

  </section>
</div>

<app-transition-first></app-transition-first>
<app-skills></app-skills>



