.border-gradient {
    border-width: 8px;
    border-style: solid;
    border-image: linear-gradient(to right, rgba(219, 39, 120, 0.742), rgba(155, 22, 232, 0.655));
    border-image-slice: 1;
  }
  .op:active, .op:clicked, .op:hover {
    opacity: 100%;  
  }

  .about {
    width: 70%;
    margin: auto;
    margin-top : 50px;
  }
  
  @media (max-width: 768px) {
    .about {
      width: 100%;

    }
  }