<section>
    <div class="container mx-auto px-4 lg:px-28">
        <h2 class="text-5xl py-16 text-center">WRITE ME</h2>

        <div class="flex justify-center p-12 btn-centre">
            <div class="flex justify-center flex-wrap btn-contact">
                <div class="lg:mr-4 btn-mail">
                    <a href="mailto:amelierolland.v@gmail.com" class="bg-gradient-to-r from-pink-500 to-purple-500 text-white font-bold py-2 px-4 rounded-lg shadow-lg hover:shadow-xl transition duration-300" title="contacter par mail" target="_blank"> Par mail
                    </a>
                </div>
                <div class="lg:mb-4">
                    <a href="https://www.linkedin.com/in/am%C3%A9lie-rolland-h/" class="bg-gradient-to-r from-pink-500 to-purple-500 text-white font-bold py-2 px-4 rounded-lg shadow-lg hover:shadow-xl transition duration-300" title="contacter via LinkedIn" target="_blank"> Via LinkedIn
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</section>
