<section>
    <div class="container mx-auto px-4 lg:px-28">
        <h2 class="text-5xl pt-24 pb-4 text-center"><span *ngIf="languageService.getLanguage() === 'fr'">CONTACTEZ MOI</span>
            <span *ngIf="languageService.getLanguage() === 'en'">WRITE ME</span></h2>
        <h4 class="text-2xl pb-12 text-center"><span *ngIf="languageService.getLanguage() === 'fr'">Toujours partante pour discuter!</span>
            <span *ngIf="languageService.getLanguage() === 'en'">Always up for a chat!</span></h4>

        <div class="flex justify-center p-12 btn-centre">
            <div class="flex flex-col lg:flex-row justify-center flex-wrap w-full lg:w-auto btn-contact">
                <div class="lg:mr-4 mb-4 lg:mb-0 btn-mail w-full lg:w-auto">
                    <a href="mailto:amelierolland.v@gmail.com" class="bg-gradient-to-r from-pink-500 to-purple-500 text-white px-8 py-4 rounded-lg shadow-lg hover:shadow-xl transition duration-300 text-center block w-full lg:w-auto" title="contacter par mail" target="_blank"> <span *ngIf="languageService.getLanguage() === 'fr'">Par mail</span>
                        <span *ngIf="languageService.getLanguage() === 'en'">By email</span>
                    </a>
                </div>
                <div class="w-full lg:w-auto">
                    <a href="https://www.linkedin.com/in/am%C3%A9lie-rolland-h/" class="bg-gradient-to-r from-pink-500 to-purple-500 text-white px-8 py-4 rounded-lg shadow-lg hover:shadow-xl transition duration-300 text-center block w-full lg:w-auto" title="contacter via LinkedIn" target="_blank"> Via LinkedIn
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</section>
