section {
    height: 100%;
    background-image: url('../../../public/img/bg-project.png');
    background-size: cover;
    background-attachment: fixed;

}
.transition-color {
    height: 400px;
    background: linear-gradient(
      to bottom,
      rgba(49, 31, 68, 1) 0%,
      rgba(49, 31, 68, 1) 60%,
      rgba(49, 31, 68, 0) 100%
    );
  }

  .stack-item {
    opacity: 0; /* Initial opacity for animation */
    animation: fadeIn 1s ease-in forwards;
  }
  
  /* Define the keyframes for the fade-in animation */
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }


  
  .language-toggle-fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .language-toggle-fixed button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .lang-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .lang-button-fr {
    background-color: #ef86ed; 
    color: white;
  }
  
  .lang-button-en {
    background-color: #a217f3; 
    color: white;
  }
  
  .lang-button-fr:hover, .lang-button-en:hover {
    background-color: #f9048f; 
  }
  
  .lang-button-fr:focus, .lang-button-en:focus {
    outline: 2px solid #f8f5f5; 
  }
  

  

  

  @media (max-width: 768px) {
    section {
      background-image: url('../../../public/img/mobilebg.png');
      background-size: cover;
      background-attachment: local;
      width: 100vw;
    }
  }
  

