@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    background-color: #311f44;
  }
  

h2 {
  font-family: "Amatic SC", sans-serif;
  letter-spacing: 0.2em;
  color: #eab9ddab;
  font-weight: 400;
}

h3 {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-size: 3em;
  letter-spacing: 0.2em;
  color: white;
}

p {
  font-family: 'Courier New', Courier, monospace;
  color : white;
}
