@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    background-color: #311f44;
    overflow-x: hidden;
  }
  

h2 {
  font-family: "Amatic SC", sans-serif;
  letter-spacing: 0.2em;
  color: #eab9ddab;
  font-weight: 400;
}

h3 {
  
  font-family: "Amatic SC", sans-serif;
  font-weight: 200;
  font-size: 3em;
  letter-spacing: 0.2em;
  color: white;
}

h4 {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
  color:#eab9ddab;
}

h5{
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    letter-spacing: 0.2em;
    color: white;
}

p, a, button {
  font-family: 'Courier New', Courier, monospace;
  color : white;
}
